* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  background-color: #292a2cee;
}

h1 {
  text-align: center;
  /* color: #fffffffb; */
  color: #c3c3c9e7;
  text-shadow: 1px 1px 5px #000000, 0 0 15px #da990bec, 0 0 5px #764105e5;
}

#playstartdiv {
  text-align: center;
  cursor: pointer;
}

#playstart:hover {
  background-color: rgba(142, 37, 240, 0.247);
  color: #fffffffb;
}

#playstart {
  display: inline-block;
  text-align: center;
  padding: 0.7%;
  font-size: 120%;
  border-radius: 6px;
  outline: 4px solid #8fda16e7;
  cursor: pointer;
}

#displaybox {
  border: 2px solid hsl(39, 89%, 52%);
  padding: 1.0%;
  margin: 2%;
  background-color: hsla(0, 0%, 94%, 0.637);
  border-radius: 8px;
}

#displaybox p {
  padding: 0 0 0 1.0%;
}

#displaybox0 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: #e91a24fb;
  font-size: 3.0em;
  letter-spacing: 5px;
  margin: 0;
}

#gamerules {
  text-align: center;
  color: #200aa1fb;
  font-size: 1.3em;
  letter-spacing: 1.5px;
  margin: 0;
}

#displaybox1, #displaybox2, #displaybox3, #displaybox4 {
  color: #000000fb;
  font-size: 1.4em;
  margin: 1% 0 0;
}

#displaybox5 {
  text-align: center;
  color: #fffffffb;
  font-size: 1.4em;
  letter-spacing: 2px;
  margin: 1% 0 0;
}

#playbox {
  border: 2px solid hsl(39, 89%, 52%);
  padding: 0.7%;
  margin: 2%;
  text-align: center;
  font-size: 150%;
  border-radius: 8px;
}

#playbox>button {
  padding: 0.5%;
  width: 20%;
  text-align: center;
  font-size: 120%;
  border-radius: 8px;
  height: 100%;
  border-radius: 8px;
  box-shadow: 1px 1px #0cdfee;
  outline: none;
  cursor: pointer;
}

#playbox>button:hover {
  color: #ffffffe0;
  box-shadow: 0 1px #eca82a;
  transform: translateY(2px);
  outline: none;
  border: none;
}

#redbtn:hover {
  background-color: #e44a36d5;
}

#greenbtn:hover {
  background-color: #09853cd8;
}

#yellowbtn:hover {
  background-color: #ffff0371;
}

#bluebtn:hover {
  background-color: #5345adf1;
}